.CloseIcon {
	cursor: pointer;
	position: relative;
  	top: 75px;
}

.FileThumbnail {
	height: 40px;
	width: 40px;
}

.InfoBarContainer {
	display: inline-flex;
	align-items: center;
}

.InfoBar {
	background-color: #FFFFFF;
	border-radius: 13px;
	color: #000000;
	display: inline-flex;
	align-items: center;
	justify-content: space-evenly;
	height: 60px;
	width: 33.3vw;
	min-width: 290px;
	position: relative;
  	top: 75px;
}

.DownloadButton {
	cursor: pointer;
}