@font-face {
  font-family: JollyLodger-Regular;
  src: url("./assets/fonts/JollyLodger-Regular.ttf");
}

@font-face {
  font-family: Itim-Regular;
  src: url("./assets/fonts/Itim-Regular.ttf");
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter.ttf");
}

body {
  background-image: url("./assets/images/background.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  place-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 333px;
  min-height: 1vh;
}

.Title {
  font-family: JollyLodger-Regular;
  font-size: clamp(15vw,15vw,15vw);
  display: inline-flex;
  align-items: center;
}

.Subtitle {
  font-family: Itim-Regular;
  font-size: clamp(5vw,5vw,5vw);
}

.ChooseFileButton {
  font-family: Inter;
  background-color: #139F07;
  font-size: clamp(0rem, 3vw, 2rem);
  border-radius: 50px;
  display: inline-block;
  width: fit-content;
  padding: 20px;
  align-items: center;
  position: relative;
  top: 75px;
}

label {
  cursor: pointer;
}

#input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}