@font-face {
  font-family: JollyLodger-Regular;
  src: url("./assets/fonts/JollyLodger-Regular.ttf");
}

@font-face {
  font-family: Itim-Regular;
  src: url("./assets/fonts/Itim-Regular.ttf");
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter.ttf");
}

body {
  background-image: url("./assets/images/background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Title {
  font-family: JollyLodger-Regular;
  font-size: 10vh;
  display: flex;
  align-items: center;
}

.Subtitle {
  font-family: Itim-Regular;
}

.ChooseFileButton {
  font-family: Inter;
  background-color: #139F07;
}